@tailwind base;
@tailwind components;
@tailwind utilities;
.ant-switch {
      height: 37px !important;
}

.bgGredient {
      background: hsla(221, 78%, 27%, 1);

      background: linear-gradient(90deg, hsla(221, 78%, 27%, 1) 35%, hsla(212, 71%, 43%, 1) 100%);

      background: -moz-linear-gradient(90deg, hsla(221, 78%, 27%, 1) 35%, hsla(212, 71%, 43%, 1) 100%);

      background: -webkit-linear-gradient(90deg, hsla(221, 78%, 27%, 1) 35%, hsla(212, 71%, 43%, 1) 100%);

      filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0F3179", endColorstr="#206ABD", GradientType=1 );
}
